{% extends "base.html" %} {% block content %}

<div class="container" style="
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;">

  <h1 style="padding-bottom: 1em;">
    Already reviewed by 
    <span style=" color: #335eea;">
      {{ user.get_username }}
  </span>
</h1>

  <p style="font-size: 22px; margin-bottom: 2em;">
    All previous requests reviewed by 
    <span style=" color: #335eea;"> 
      {{ user.get_username }} 
    </span> will appear here
  </p>

  {% if data|length > 0 %}
  {% for code,req_from,comment, id, review in data %}

  <div style="margin-bottom: 2em;">
    <button type="button" class="collapsible btn btn-dark" style="font-size: 20px;">
      request from 
      <strong> {{ req_from }} </strong><br> request id <strong>{{ id }}</strong></button>
    
    <div class="content">
      <pre class="prettyprint" style="font-size: 18px;">
        {{ code|safe|linebreaks }}
      </pre>

      <strong style="font-size: 20px;">Comments:</strong>
      <br><br> {{ comment }}
      <hr>
      <strong style="font-size: 20px;">Reviews:</strong>
      <br><br> 
      <p style="font-size: 18px;">
        {{ review }}
      </p>

      <br><br>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="jumbotron">
    <h4 style="font-weight: 100;">You haven't reviewed any requests at the moment!</h4>
  </div>

  {% endif %}
</div>
{% endblock %}
