{% extends "base.html" %} {% block content %}

<link href="https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext" rel="stylesheet">
  <style>
    .bmc-button img {
      height: 34px !important;
      width: 35px !important;
      margin-bottom: 1px !important;
      box-shadow: none !important;
      border: none !important;
      vertical-align: middle !important;
    }
  
    .bmc-button {
      padding: 7px 15px 7px 10px !important;
      line-height: 35px !important;
      height: 51px !important;
      text-decoration: none !important;
      display: inline-flex !important;
      color: #ffffff !important;
      background-color: #FF5F5F !important;
      border-radius: 5px !important;
      border: 1px solid transparent !important;
      padding: 7px 15px 7px 10px !important;
      font-size: 20px !important;
      letter-spacing: -0.08px !important;
      box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
      -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      margin: 0 auto !important;
      font-family: 'Lato', sans-serif !important;
      -webkit-box-sizing: border-box !important;
      box-sizing: border-box !important;
    }
  
    .bmc-button:hover,
    .bmc-button:active,
    .bmc-button:focus {
      -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      text-decoration: none !important;
      box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      opacity: 0.85 !important;
      color: #ffffff !important;
    }
  </style>

<div style="
    margin-left: 7em;
    margin-right: 7em;
    margin-top: 5em;
    font-family: 'Quicksand', sans-serif;
  ">

  <h1 style="padding-bottom: 2em;">Already reviewed by <span style=" color: #335eea;">{{ user.get_username }}
  </span></h1>

  {% if data|length > 0 %}
  {% for code,req_from,comment, id, review in data %}

  <div style="margin-bottom: 2em;">
    <button type="button" class="collapsible btn btn-dark">request from 
      <strong> {{ req_from }} </strong><br> request id <strong>{{ id }}</strong></button>
    
    <div class="content">
      <pre class="prettyprint">
        {{ code|safe|linebreaks }}
      </pre>
      Comments: <br> {{ comment }} <hr>
      Reviews: <br> {{ review }} <br><br>
    </div>
  </div>
  {% endfor %}

  {% else %}
  <div class="jumbotron">
    <h4 style="font-weight: 100;">You haven't reviewed any requests at the moment!</h4>
  </div>

  {% endif %}
</div>
{% endblock %}